@(content: Html)
<!DOCTYPE html>
<html>
<head>
<title>Computers database</title>
<link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
<script src='@routes.Assets.at("javascripts/jquery-3.2.1.min.js")'></script>
</head>
<body>
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Moecast</a>
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a href="@routes.HomeController.index()" class="nav-link"> Company </a>
				</li>
				<li class="nav-item">
					<a href="@routes.HomeController.index()" class="nav-link"> Projects </a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"
					>Employee</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#">List</a>
						<a class="dropdown-item" href="#">Security</a>
						<a class="dropdown-item" href="#">Certificates</a>
						<a class="dropdown-item" href="#">Forecast</a>
					</div>
				</li>
				<li class="nav-item">
					<a href="@routes.HomeController.index()" class="nav-link"> Hours </a>
				</li>
				<li class="nav-item">
					<a href="@routes.HomeController.index()" class="nav-link"> Company </a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" data-cip-id="cIPJQ342845639">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<section id="main">@content</section>
	<script src='@routes.Assets.at("javascripts/tether-1.4.0.min.js")'></script>
	<script src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>
</body>
</html>
